@media only screen and (max-width: 1500px){
    .brk-btn{
        font-size: 10px;
    }

    li a{
        margin-top: 10px;
    }

    #navbar{
        height: 8vh;
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    .container{
        width: 60%;
    }

    .title{
        font-size: 30px;
    }

    .login-container{
        padding-top: 250px;
    }

    .login-button{
        height: 50px;
        font-size: 15px;
        width: 70%;
    }
}