.signUp-container{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -10%);
    font-size: 50px;
    width: 900px;
    height: 80%;
    text-align: center;
    color: aqua;
    border: 0.1em solid aqua;
}

.signUp-container h1{
    font-size: 50px;
    color: aqua;
    text-align: center;
}

.signUp-container hr{
    background-color: aqua;
    margin-top: 0px;
    width: 90%;
    height: 2px;
    border: 0;
}

.brk-btn.creata-account{
    margin-top: 50px;
    position: absolute;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 300px;
    font-size: 20px;
}

.form_field{
    padding: 10px;
    margin: 5px 0px 5px 0;
    font-family: inherit;
    width: 90%;
    border: 0;
    border-bottom: 2px solid aqua;
    outline: 0;
    font-size: 1.3rem;
    color: aqua;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 15px;
}

#updateMessage{
    font-size: 25px;
    display: none;
}

